node_modules/
package-lock.json
yarn.lock
output/
*.pdf
test_output/
logs/
*.log
pids
*.pid
coverage/

# .vscode/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.swp
.DS_Store
.env
.env.local
.cache/
.local-chromium/
tmp/
temp/
*.tmp
urls.txt
article_list.html